*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --var-color: #e62b4a;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}

html {
    font-family: 'Oswald', sans-serif;
    font-size: 10px;
    scroll-behavior: smooth;
}

header {
    position: relative;
    height: 100vh;
    width: 100%;
}

.container {
    width: 80%;
    height: 100%;
    margin: auto;
}


/*----------------NAV-BAR-----------------------*/

.container-fluid {
    margin: 0 auto;
}

.nav-fixed {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 15vh;
    border-bottom: 0.2rem solid rgba(255, 255, 255, .10);
    background: transparent;
    color: #fff;
    position: absolute;
    width: 100%;
    padding-left: 5%;
    padding-right: 5%;
    margin: auto;
    z-index: 3;
}

.active {
    background: black;
    position: fixed;
}

.logo h1 {
    font-size: 4rem;
    text-transform: uppercase;
    font-weight: bold;
    font-family: 'Staatliches', cursive;
    padding-left: 2rem;
    color: #fff;
}

.nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 40vw;
}

.nav-item {
    padding: 3.5rem 1.2rem;
    position: relative;
    display: inline-block;
}

.nav-link {
    position: relative;
    font-size: 1.5rem;
    font-weight: bold;
    text-transform: uppercase;
    color: #fff;
    letter-spacing: 0.1rem;
}

.nav-link::after {
    content: "";
    position: absolute;
    bottom: -5%;
    left: 0;
    height: 0.2rem;
    width: 0%;
    transition: all 400ms ease;
    background: #fff;
}

.nav-link:hover::after {
    width: 100%;
}

.sub-menu {
    position: absolute;
    height: auto;
    width: 20rem;
    background: black;
    text-align: center;
    padding: 1rem 0;
    left: 50%;
    right: 0;
    top: 9.5rem;
    transform: translate(-50%, 50%);
    transition: all 400ms ease;
    visibility: hidden;
    opacity: 0;
    margin: auto;
}

.nav-item:hover>.sub-menu {
    transform: translate(-50%, 0);
    visibility: unset;
    opacity: 1;
}

.sub-menu::before {
    content: "";
    position: absolute;
    height: 0;
    width: 0;
    border-left: 1rem solid transparent;
    border-right: 1rem solid transparent;
    border-bottom: 1rem solid #000;
    margin: auto;
    top: -5%;
    left: 45%;
}

.sub-menu-item {
    padding: 1rem 1.5rem;
}

.sub-menu-link {
    position: relative;
    font-size: 1.5rem;
    color: #fff;
    text-transform: uppercase;
}

.sub-menu-link:not(.arrow-up)::after {
    content: "";
    position: absolute;
    bottom: -5%;
    left: 0;
    height: 0.2rem;
    width: 0;
    transition: all 300ms ease-out;
    background: #fff;
}

.sub-menu-link:hover::after {
    width: 100%;
}

.nav-expand {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.icon {
    margin: 0 2rem;
    cursor: pointer;
}

.nav-expand i {
    font-size: 3rem;
    cursor: pointer;
    transition: all 200ms;
}

.nav-expand i:hover {
    color: coral;
}


/*-------------------SLIDER---------------------*/

.slider-cover {
    height: 100vh;
    width: 100%;
    overflow: hidden;
}

.btn {
    height: 8rem;
    width: 8rem;
    position: absolute;
    z-index: 2;
    background: rgba(255, 255, 255, .35);
    cursor: pointer;
    line-height: 1.2rem;
}

.btn::before {
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 3rem;
    transform: translate(-50%, -100%);
}

.btn:hover {
    background: rgba(255, 255, 255, 1);
}

.prev-btn {
    top: 45%;
    left: 5%;
}

.prev-btn::before {
    content: "<";
}

.next-btn {
    top: 45%;
    right: 5%;
}

.next-btn::before {
    content: ">";
}

.slider {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: max-content;
}

.slide-bg {
    width: 100vw;
}

.slide-item {
    position: relative;
    z-index: -1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slide-item img {
    height: 100vh;
    object-fit: cover;
}

.slide-item-content {
    margin-top: 4rem;
    position: absolute;
    z-index: 1;
    text-transform: uppercase;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 35vw;
    letter-spacing: 0.3rem;
}

.slide-item-content p {
    font-size: 1.8rem;
}

.slide-item-content h1 {
    font-size: 8rem;
    text-align: center;
    font-family: 'Staatliches', cursive;
    margin: 1rem 0;
}

.btn-animation {
    position: relative;
    padding: 2.6rem 4rem;
    font-size: 1.4rem;
    text-transform: uppercase;
    background: black;
    color: #fff;
    line-height: 1.2rem;
    border: none;
    outline: none;
    font-weight: 400;
    cursor: pointer;
    border-radius: 0.2rem;
    z-index: 2;
    letter-spacing: 0.1rem;
}

.btn-animation::after {
    content: "";
    position: absolute;
    height: 100%;
    width: 2%;
    background-color: var(--var-color);
    top: 0;
    right: 0;
    transition: all 400ms ease-out;
    z-index: -1;
}

.btn-animation:hover::after {
    width: 100%;
}

.fade-in {
    transform: translate(0);
    opacity: 1;
}

.pop-up {
    position: absolute;
    width: 100%;
    height: 100vh;
    z-index: 3;
    top: 0;
    left: 0;
    background: rgba(17, 17, 17, 0.98);
    transform: translateY(-100%);
    transition: transform 0.5s ease;
    overflow: hidden;
}

.overlay {
    transform: translateY(0);
    overflow: hidden;
    position: fixed;
}

.pop-up-container {
    position: relative;
    height: inherit;
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 2rem 0;
}

.logo-popup {
    justify-self: start;
    align-self: flex-start;
}

.nav-popup {
    position: relative;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    align-self: center;
    transform: translateY(-150%);
    transition: transform 0.5s ease;
    opacity: 1;
    z-index: 900;
    transform-style: preserve-3d;
}

.nav-popup .nav-item {
    padding: 1rem 0;
}

.nav-popup .sub-active>.nav-link::before {
    content: "";
    right: -2rem;
    top: 30%;
    height: inherit;
    border-left: 0.2rem solid #fff;
    border-top: 0.2rem solid #fff;
    width: 0.6rem;
    height: 0.6rem;
    transform: rotate(225deg);
    transform-origin: center;
    position: absolute;
    transition: transform 0.5s ease;
}

.nav-popup .sub-active>.nav-link:hover::before {
    transform: rotate(45deg);
}

.sub-menu-popup {
    position: relative;
    transition: transform 0.5s ease;
    padding: 1rem 0;
    transform-style: preserve-3d;
    z-index: 9999;
    display: none;
}

.sub-menu-popup .sub-menu-item {
    text-align: center;
    padding: 1rem 0;
}

.arrow-up {
    text-align: center;
    font-size: 1.5rem;
    padding: 0 0.5rem;
}

.info {
    position: absolute;
    left: 2%;
    bottom: 5%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    padding: 1rem 0;
}

.info p {
    font-size: 1.5rem;
    padding: 0.5rem;
    color: #818181;
}

.social {
    position: absolute;
    right: 0;
    bottom: 5%;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.social a {
    padding: 1rem 2rem;
    font-size: 1.2rem;
    color: #aaaaaa;
    font-weight: bold;
    letter-spacing: 0.1rem;
    transition: color 0.2s ease;
}

.social a:hover {
    color: #fff;
}

.social i {
    padding: 0 0.5rem;
    color: #fff;
}

.close-button {
    cursor: pointer;
    position: absolute;
    right: -10%;
    top: 5%;
    padding: 2rem 2.5rem;
    background: #fff;
    border-radius: 100%;
    font-weight: 100;
}

.close-button:hover {
    color: crimson;
}

.close-button i {
    font-size: 1.5rem;
}

.search-overlay {
    position: fixed;
    background: rgba(17, 17, 17, 0.98);
    height: 100vh;
    width: 100%;
    z-index: 4;
    top: 0;
    display: none;
}

.fade-in {
    animation: fadeIn ease 1s;
}

.fade-out {
    animation: fadeOut ease 1s;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

#search {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
}

#search input {
    width: 100%;
    height: 8rem;
    border: none;
    border-bottom: 1px solid rgba(255, 255, 255, .5);
    background: none;
    font-size: 24px;
    color: #fff;
    outline: none;
    text-transform: uppercase;
    padding: 2rem 1rem;
}

#search input::placeholder {
    color: #fff;
    font-size: 3rem;
    letter-spacing: 0.3rem;
    font-family: 'Staatliches', cursive;
}

#search i {
    position: absolute;
    color: #fff;
    right: 2%;
    font-size: 3rem;
    font-size: 100;
    padding-left: 2rem;
    cursor: pointer;
}

.search-area {
    position: absolute;
    z-index: 9999;
    border-radius: 100%;
    left: 50%;
    top: 2%;
    background: #fff;
    height: 5rem;
    width: 5rem;
    text-align: center;
    cursor: pointer;
}

.search-area:hover i {
    color: crimson;
}

.search-area i {
    color: #000;
    font-size: 1.5rem;
    position: absolute;
    top: 33%;
    left: 40%;
}


/*-------------------ABOUT--------------------*/

section {
    height: 100vh;
    width: 100%;
}

.about {
    padding: 2rem 0;
    background: url("../img/achievement_before.jpg") center no-repeat;
    background-size: cover;
}

.about-container {
    margin-top: 2rem;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.about-content {
    text-align: center;
    letter-spacing: 0.2rem;
}

.about-content h5 {
    font-size: 1rem;
    color: var(--var-color);
    font-weight: 400;
}

.about-content h1 {
    font-size: 5rem;
    margin-bottom: 2rem;
    color: #ffffff;
}

.about-content p {
    color: #aaaaaa;
    font-size: 1.6rem;
    letter-spacing: 0.1rem;
}

.about-card {
    margin-top: 3rem;
    display: grid;
    grid-template-columns: auto auto auto auto auto;
}

.about-card a {
    color: #aaaaaa;
}

.flipper {
    position: relative;
    height: 25rem;
    width: 20rem;
    margin: 0 2rem;
    transition: transform 0.6s ease;
    transform-style: preserve-3d;
}

.card {
    position: absolute;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5rem 4rem;
    backface-visibility: hidden;
}

.card i {
    font-size: 4rem;
    padding: 2rem 0;
}

.card h1 {
    font-size: 2rem;
}

.front {
    background: transparent;
    border: 0.2rem solid rgba(27, 27, 27, 1);
    transform: rotateY(0);
    transform-origin: center;
}

.back {
    top: 0;
    background: var(--var-color);
    border: 0.2rem solid var(--var-color);
    transform: rotateY(-180deg);
    color: #fff;
}

.card-item:hover .flipper {
    transform: rotateY(180deg);
}


/*----------------HISTORY-----------------------*/

.history-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    padding-top: 6rem;
    height: 100%;
}

.history-area {
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    text-align: left;
    padding: 2rem 2rem 4rem 4rem;
}

.left-area h5 {
    font-size: 1.2rem;
    color: #818181;
    letter-spacing: 0.2rem;
}

.left-area h1 {
    font-size: 5rem;
    letter-spacing: 0.3rem;
    line-height: 6rem;
}

.left-area p {
    font-size: 1.5rem;
    letter-spacing: 0.2rem;
    color: #818181;
    font-weight: bold;
    line-height: 3.5rem;
    padding: 2rem 0;
}

.right-area {
    position: relative;
}

.img-history {
    position: absolute;
}

.img-history img {
    box-shadow: -2px 4px 30px 0px rgba(0, 0, 0, 0.3);
}

.img-front {
    z-index: 2;
    top: 30%;
    left: 5%;
}

.img-front::before {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: -20%;
    content: "";
    border: 1rem solid var(--var-color);
    transform: translate(10%, -10%);
}

.img-back {
    z-index: 0;
    left: 30%;
}

.btn-history::after {
    background-color: var(--var-color);
}


/*--------------------WORK--------------------*/

.work {
    height: 160vh;
    position: relative;
}

.work::before {
    content: "";
    position: absolute;
    top: 0;
    height: 50%;
    left: 0;
    width: 100%;
    background: #f4f4f4;
    z-index: 1;
}

.work-container {
    height: 100%;
    position: relative;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.work-video {
    position: relative;
}

.work-video-play,
.work-video-play i {
    position: absolute;
    z-index: 3;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.work-video-play h1 {
    font-size: 5rem;
    letter-spacing: 0.5rem;
    text-transform: uppercase;
    font-weight: bold;
}

.work-video-play button {
    cursor: pointer;
    border: none;
    outline: none;
    height: 12rem;
    width: 12rem;
    display: inline-block;
    position: relative;
    background: var(--var-color);
    transition: background 300ms ease-in-out;
}

.work-video-play i {
    font-size: 3rem;
    color: #fff;
    position: absolute;
}

.work-video-play button:hover {
    background: #000;
}

.work-subscribe {
    width: 100%;
    display: grid;
    grid-template-columns: 40% 60%;
    margin-top: 5rem;
}

.work-subscribe-title {
    padding: 2rem;
    text-align: left;
    letter-spacing: 0.2rem;
}

.work-subscribe-title h5 {
    font-size: 1.5rem;
    color: #818181;
    letter-spacing: 0.1rem;
}

.work-subscribe-title h1 {
    font-size: 5rem;
}

.work-subscribe-input {
    padding: 2rem 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.work-subscribe-input input {
    padding: 2rem;
    width: 65%;
    height: 8rem;
    border: none;
    background: #f4f4f4;
    outline: none;
    font-size: 2rem;
    font-family: 'Staatliches', cursive;
    font-weight: 100;
    letter-spacing: 0.2rem;
}

.work-subscribe-input input::placeholder {
    font-family: 'Staatliches', cursive;
    font-size: 2rem;
    font-weight: 100;
    letter-spacing: 0.1rem;
}

.btn-subscribe {
    padding: 3.5rem 4rem;
}

.btn-subscribe::after {
    background-color: var(--var-color);
}

.popup-video {
    position: fixed;
    height: 100vh;
    width: 100%;
    top: 0;
    left: 0;
    background: rgba(17, 17, 17, 0.98);
    z-index: 9999;
    transition: all 0.5s ease;
    display: none;
}

.container {
    position: relative;
}

.container iframe {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.video-button {
    position: absolute;
    top: 10%;
    font-size: 2rem;
    cursor: pointer;
    right: 0;
    padding: 0;
    background: none;
    color: #fff;
}


/*-----------------PORTFOLIO--------------------*/

.portfolio {
    height: 160vh;
}

.portfolio-container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.portfolio-collection {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 2rem;
    padding-bottom: 3rem;
}

.portfolio-item {
    position: relative;
    z-index: 0;
    overflow: hidden;
}

.portfolio-item img {
    transition: transform 1.5s ease;
    transform: scale(1);
}

.portfolio-item:hover img {
    transform: scale(1.2);
}

.portfolio-item::before {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: var(--var-color);
    opacity: 0.8;
    z-index: 2;
    content: "";
    transform: translateX(-100%);
    transition: transform 700ms ease;
}

.portfolio-item:hover::before {
    transform: translateX(0);
}

.portfolio-title {
    position: absolute;
    bottom: 10%;
    left: 5%;
    z-index: 2;
    font-weight: bold;
    text-transform: uppercase;
    color: #fff;
    text-align: left;
    letter-spacing: 0.2rem;
    cursor: pointer;
    transition: all 0.5s ease;
    transform: translateX(0);
    opacity: 0;
}

.portfolio-item:hover .portfolio-title {
    opacity: 1;
    transform: translateX(20%);
}

.portfolio-title p,
.portfolio-title h4 {
    transition: color 0.5s ease;
}

.portfolio-title p:hover,
.portfolio-title h4:hover {
    color: black;
}

.portfolio-title p {
    font-size: 1.2rem;
    padding: 0.4rem 0;
}

.portfolio-title h4 {
    font-size: 2rem;
}


/*-----------------ACHIEVEMENT--------------------*/

.achievement {
    height: 160vh;
    position: relative;
}

.achievement-container {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

.achievement::before {
    position: absolute;
    top: 0;
    left: 0;
    content: "";
    height: 50%;
    width: 100%;
    background: url('../img/achievement_before.jpg') center no-repeat;
    background-size: cover;
}

.achievement-counter {
    position: relative;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    width: 100%;
    text-align: center;
    z-index: 0;
}

.achievement-counter-item {
    padding: 10rem 2rem 4rem 2rem;
}

.achievement-counter-item:not(:last-child) {
    border-right: 0.1rem solid #818181;
}

.achievement-counter-item h1 {
    font-size: 6rem;
    color: #fff;
    font-size: 100;
    letter-spacing: 0.3rem;
    padding: 1rem 0;
}

.achievement-counter-item h5 {
    font-size: 1.5rem;
    color: #aaaaaa;
    letter-spacing: 0.2rem;
}

.achievement-nested {
    position: relative;
    display: grid;
    grid-template-columns: 60% 40%;
    margin-bottom: 8rem;
}

.achievement-nested-content {
    position: relative;
}

.achievement-nested .left-area {
    position: relative;
    padding: 4rem 4rem 4rem 8rem;
    z-index: 2;
    background-color: #fff;
}


/*-----------------EXPERT--------------------*/

.expert {
    height: 140vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
}

.expert .left-area {
    width: 50%;
    text-align: center;
}

.expert-slides {
    position: relative;
    display: flex;
    width: max-content;
    justify-content: center;
    align-items: center;
}

.expert-slides-cover {
    position: relative;
    display: flex;
    width: max-content;
    justify-content: center;
    align-items: center;
}

.expert-slide-item {
    position: relative;
    margin: 2rem 1rem;
}

.expert-img {
    position: relative;
    overflow: hidden;
    height: 100%;
    width: 100%;
}

.expert-img::after {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: var(--var-color);
    opacity: 0.8;
    transform: translateX(100%);
    transition: all 0.5s ease;
}

.expert-img:hover::after {
    transform: translateX(0);
}

.expert-title {
    position: absolute;
    z-index: 2;
    top: 10%;
    left: 0%;
    opacity: 0;
    transition: all 0.5s ease;
}

.expert-img:hover .expert-title {
    opacity: 1;
    left: 12%;
}

.expert-title li {
    position: relative;
    margin: 1rem 0;
    padding: 0 1rem;
}

.expert-title a {
    color: #fff;
    font-size: 1.3rem;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    position: relative;
}

.expert-title li a::after {
    content: "";
    height: 0.2rem;
    width: 0%;
    position: absolute;
    bottom: 0;
    left: 0;
    background: #fff;
    transition: all 0.5s ease;
    transform-origin: center;
}

.expert-title li a:hover::after {
    width: 100%;
}

.btn-detail {
    position: absolute;
    z-index: 2;
    font-size: 1.2rem;
    left: 5%;
    padding: 2.3rem 3rem;
    bottom: 12%;
    opacity: 0;
    transition: all 0.5s ease;
}

.expert-img:hover .btn-detail {
    opacity: 1;
    left: 13%;
}

.btn-detail::after {
    background: #fff;
}

.btn-detail:hover {
    color: black;
}

.expert-info {
    text-align: center;
    padding: 1rem 0;
    text-transform: uppercase;
    cursor: context-menu;
}

.expert-info h3 {
    font-weight: bold;
    font-size: 2rem;
    padding-bottom: 1rem;
    transition: all 0.5s ease;
}

.expert-info span {
    font-size: 1.5rem;
    color: #818181;
    position: relative;
    font-weight: bold;
}

.expert-info span::after {
    content: "";
    bottom: -3%;
    left: 0;
    right: 0;
    position: absolute;
    background: #818181;
    height: 0.1rem;
    transition: all 0.5s ease;
    transform: scaleX(0);
    transform-origin: center;
}

.expert-img:hover~.expert-info span::after {
    transform: scaleX(1);
}

.expert-img:hover~.expert-info h3 {
    color: var(--var-color);
}

.expert-slides-dot {
    margin: 2rem 0;
}

.expert-slides-dot ul {
    display: flex;
    justify-content: center;
    align-items: center;
}

.expert-slides-dot button {
    margin: 0 0.5rem;
    padding: 0.5rem;
    border: none;
    outline: none;
    background: #dbdbdb;
    cursor: pointer;
    transition: 0.5s;
}

.expert-slides-dot button:hover {
    background: #000;
}


/*-----------------CLIENTS------------------*/

.clients {
    height: 100vh;
    background: #f4f4f4;
}

.clients-container,
.clients-icon {
    display: flex;
    justify-content: center;
    align-items: center;
}

.clients-container {
    padding: 3rem 0;
    height: inherit;
    text-align: center;
    flex-direction: column;
}

.client-box {
    width: 100%;
    overflow: hidden;
}

.clients-icon {
    position: relative;
    height: 100%;
    width: max-content;
}

.client-icon-item {
    width: 27rem;
    height: 21rem;
    background: #fff;
    position: relative;
    margin: 0 1.5rem;
}

.client-icon-item::after {
    position: absolute;
    content: "";
    width: 2%;
    height: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: var(--var-color);
    z-index: 2;
    transition: 0.5s;
    transform-origin: center;
    margin: auto;
}

.client-icon-item:hover::after {
    height: 100%;
}

.client-icon-item a {
    height: 100%;
    width: 100%;
    text-align: center;
    display: inline-block;
}

.client-icon-item img {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    max-width: 20rem;
    height: auto;
    margin: auto;
    opacity: 0.4;
    display: inline-block;
    vertical-align: middle;
    transition: 0.5s;
}

.client-icon-item:hover img {
    opacity: 1;
}


/*-----------------TEAM--------------------*/

.team {
    height: 100vh;
    background: url('../img/conect.jpg') fixed center no-repeat;
    background-size: cover;
}

.team-container {
    height: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.team-icon {
    margin: 3rem 0;
    height: 16vh;
    width: 8vw;
    color: #fff;
    font-size: 5rem;
    background: var(--var-color);
    position: relative;
}

.team-icon i {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.team-area {
    color: #fff;
}

.team-area span {
    color: var(--var-color);
}

.team-area p {
    color: #fff;
    font-size: 2rem;
}


/*-----------------ARTICLE--------------------*/

.article {
    height: 120vh;
}

.article-container {
    height: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding-bottom: 10rem;
}

.article-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2rem;
    margin: 2rem 0;
}

.article-grid-item {
    position: relative;
}

.article-grid-content {
    position: absolute;
    padding: 2rem;
    text-align: left;
    bottom: -45%;
    background: #fff;
    left: 5%;
    right: 5%;
}

.content-date {
    display: inline-block;
    padding: 0.7rem 1.5rem;
    background: black;
    color: white;
    font-weight: bold;
    font-size: 1.2rem;
    transition: 0.5s;
}

.content-date:hover {
    background-color: var(--var-color);
}

.content-title {
    margin: 1rem 0;
    letter-spacing: 0.2rem;
}

.content-title a {
    color: black;
    font-size: 2.5rem;
    transition: 0.5s;
}

.content-link {
    position: relative;
    font-size: 1.5rem;
    color: #000;
    font-weight: bold;
    transition: 0.5s;
}

.content-link:hover,
.content-title:hover a {
    color: var(--var-color);
}

.content-link::after {
    content: "";
    height: 0.2rem;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    background: var(--var-color);
    margin: auto;
    width: 0;
    transition: 0.5s;
}

.content-link:hover::after {
    width: 100%;
}


/*-----------------INVITATION--------------------*/

.invitation {
    height: 45vh;
    background-image: url('http://layerdrops.com/meipaly/demo/images/bg/4.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
    position: relative;
}

.invitation-container {
    position: relative;
    height: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
}

.invitation-grid {
    width: 100%;
    display: grid;
    grid-template-columns: 70% 30%;
    position: relative;
}

.invitation-grid h1 {
    padding-left: 2rem;
    font-size: 5rem;
    color: #fff;
    letter-spacing: 0.2rem;
}

.invitation-grid button {
    opacity: 1;
    position: relative;
    padding: 3rem 4rem;
    font-size: 1.5rem;
    top: 0;
}


/*-----------------FOOTER--------------------*/

footer {
    height: 75vh;
    background: url('../img/footer.jpg') center no-repeat;
    background-size: cover;
    color: #fff;
}

.footer-info {
    height: 80%;
    display: grid;
    grid-template-columns: 50% 25% 25%;
    width: 100%;
    padding-top: 13rem;
}

.footer-about h1 {
    font-size: 3rem;
    margin: 0.5rem 0;
}

.footer-about p {
    font-size: 1.6rem;
    color: #aaaaaa;
    line-height: 3rem;
    letter-spacing: 0.1rem;
    margin-top: 2rem;
}

.footer-contact p {
    padding: 2.5rem 0;
    font-size: 1.6rem;
    color: #aaaaaa;
    line-height: 3rem;
    letter-spacing: 0.1rem;
}

.footer-contact h2 {
    font-size: 2rem;
}

.footer-social h2 {
    font-size: 2rem;
}

.social-footer {
    position: relative;
    padding: 2rem 0;
}

.social-footer li {
    padding: 1rem 0;
    cursor: pointer;
}

.social-footer li a {
    color: #aaaaaa;
    font-size: 1.5rem;
    transition: 0.5s;
    letter-spacing: 0.1rem;
}

.social-footer li a:hover {
    color: #fff;
}

.social-footer li i {
    padding-right: 0.5rem;
    color: #fff;
}

.footer-container h3 {
    text-align: center;
    padding-top: 4rem;
    border-top: 0.1rem solid #888888;
    color: #aaaaaa;
    font-size: 1.5rem;
}

.footer-container h3 a {
    color: #aaaaaa;
    transition: 0.5s;
}

.footer-container h3 a:hover {
    color: var(--var-color);
}

.theme-tool {
    position: fixed;
    top: 25%;
    left: 0;
    background: #fff;
    height: 32rem;
    width: 23rem;
    padding: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 99999;
    transform: translateX(-101%);
    transition: 0.5s;
    box-shadow: 1px 0 3px rgba(0, 0, 0, 0.1);
}

.theme-tool.active {
    transform: translateX(0);
}

.theme-tool h2 {
    text-align: center;
    display: inline-block;
    padding: 0.5rem;
    background: #fff;
    color: #000;
    font-weight: bold;
    font-size: 1.7rem;
    width: 100%;
    margin-bottom: 2rem;
    border: 0.2rem solid #f5f6fa;
}

.theme-tool-toggle {
    color: #000;
    display: inline-block;
    height: 4rem;
    width: 4rem;
    position: absolute;
    right: 0;
    top: 5%;
    background: #fff;
    transform: translateX(100%);
    font-size: 2rem;
    padding: 0.3rem 0.8rem;
}

.theme-tool-toggle.active {
    color: var(--var-color);
}

.theme-tool-colors {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2rem;
}

.theme-tool-colors button {
    height: 2.5rem;
    width: 3.7rem;
    cursor: pointer;
    border: none;
    outline: none;
}

#onTop {
    position: fixed;
    bottom: 6%;
    right: 4%;
    color: #fff;
    font-size: 1.8rem;
    display: inline-block;
    padding: 0.5rem 1.5rem;
    background: var(--var-color);
    transition: 0.5s;
    z-index: 99999;
}

#onTop:hover {
    background: #000;
}


/*-----------------RESPONSIVE--------------------*/

@media only screen and (max-width:700px) {
    html {
        font-size: 8px;
    }
    section {
        height: auto;
    }
    .achievement-nested,
    .article-grid,
    .invitation-grid,
    .footer-info,
    .achievement-counter,
    .portfolio-collection,
    .work-subscribe,
    .history-container,
    .about-card {
        display: flex;
        flex-direction: column;
    }
    /*--------------HEADER-----------------*/
    .slide-item-content {
        width: 70vw;
    }
    .nav-menu {
        display: none;
    }
    .nav-popup {
        display: flex;
    }
    .info {
        position: absolute;
        left: 16%;
        bottom: 7%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 1rem 0;
    }
    .social {
        position: absolute;
        right: 16%;
        bottom: 5%;
        color: white;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    /*--------------ABOUT-----------------*/
    .card-item {
        margin: 1rem 0;
    }
    .flipper {
        width: 50rem;
    }
    .card {
        width: 100%;
    }
    /*--------------HISTORY-----------------*/
    .history-area {
        width: 100%;
    }
    .img-history {
        position: relative;
        top: 0;
        left: 0;
        margin: 1rem 0;
    }
    .img-front::before {
        display: none;
    }
    /*--------------WORK-----------------*/
    .work,
    .portfolio,
    footer,
    .achievement-counter {
        padding: 5rem 0;
    }
    .work-video-play button {
        width: 5rem;
        height: 5rem;
    }
    .work-video-play h1 {
        font-size: 3rem;
    }
    iframe {
        width: 450px;
        height: 300px;
    }
    .work {
        min-height: 120vh;
    }
    .work-subscribe-input .btn-subscribe {
        padding: 2.5rem 4rem;
        line-height: 1.5rem;
    }
    /*--------------PORTFOLIO-----------------*/
    .portfolio-container,
    .portfolio {
        height: auto;
    }
    .portfolio-item {
        margin: 1rem 0;
    }
    /*--------------ACHIEVEMENT-----------------*/
    .achievement,
    .work,
    .article,
    footer {
        height: auto;
    }
    .achievement-nested .left-area {
        padding: 4rem 0;
    }
    .achievement-counter-item:not(:last-child) {
        border-right: none;
    }
    .article-container {
        margin-top: 15rem;
    }
    .achievement-counter {
        margin-bottom: 15rem;
    }
    .team-icon {
        width: 20vw;
    }
    /*--------------ARTICLE-----------------*/
    .article {
        padding: 2rem;
    }
    .article-grid-item {
        margin-bottom: 25rem;
    }
    /*--------------INVITATION-----------------*/
    .invitation-grid h1 {
        margin: 2rem 0;
    }
    /*--------------FOOTER-----------------*/
    .footer-contact {
        margin-top: 2rem;
    }
}